* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:white;
}


.top{
    background-color: black;
    height: 5em;
    margin-top: -1em;
}
img{
    width: 100%;
    background-size:cover;
}
.container {
    height: 280px; /* Adjust as needed to allow scrolling */
}

.image-container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

#scrollImage {
    width: 100%; /* Initial width */
    transition: opacity 0.8s ease-in-out;
}

hr {
    width: 100%;
    height: 5px;
    color: black;
    background-color: black;
}

.navbar {
    margin-right: -10em;
    width: auto;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em; /* Adjust the font size for smaller screens */
}

nav {
    background-color: black;
    display: flex;
    justify-content: center;
    margin-left: -4em;
    width: 97em;
    height: 2.5em;
    margin-top: 1em;
}

nav a {
    float: left;
    display: block;
    background-color: black;
    color: white;
    font-size: 1.2em; /* Adjust the font size for smaller screens */
    text-align: center;
    margin-left: -1px;
    margin-right: 1em; /* Adjust the margin for smaller screens */
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.bg-col{
    background-color: rgb(56, 76, 178);
    filter: blur(2px);
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

article {
    display: flex;
    justify-content: center;
    border-radius: 20%;
}

.art {
    margin-left: 30px;
}

.art2 {
    margin-left: 30px;
}



#cen{
    padding-left: 12em;
}

.section1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
    color: black;
    padding-top: 2em;
    padding-left: 1em;
    width: 25em;
    margin-top: 2em;
    margin-left: 10rem;
    list-style-type: none;
}



#cen2{
    margin-left: 4em;
}

.section2{
    color: black;
    width: 18em;
    margin-left: 80em;
    margin-top: -55em;
}


.content{
    margin-left: em;
}


.Foot {
    height: 160px;
    margin-top: 40rem;
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
    background-color: black;
}

p#ft{
    padding-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RESEARCH PAGE*/
#img1{
    background-image: url("Research1.png");
    background-size:contain;
    margin-left: 5em;
    margin-top: -1em;
    height: 10em;
    width: 11em;
    size-adjust: 2em;
}

li{
    font-size: 1em;
    text-align:center;
}

#main{
    font-size: 2em;
    color: black;
}

caption{
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

table{
    width: 25em;
    border: 1px double black;
}

tr{
    font-size: 1.5em;
    text-align: center;
}

th{
    border: 1px solid black;
}

#See{
    font-size: 1.3em;
    color: black;
    margin-left: 10em;
    text-decoration: none;
    border: 1px ;
}

#home{
    color: white;
}

.fa-copyright {
    margin-right: 10px;
    margin-top: -0.1em;
}

p {
    color: white;
    padding-left: 1em;
}



@media only screen and (max-width: 1080px) {
    /* Adjust styles for screens with a maximum width of 768 pixels */
    h1 {
        font-size: 3em;
    }

    .navbar {
        font-size: 1em;
    }


    .art{
        margin-left: 5em;
    }

    #png{
        margin-left: 1em;
    }

    #cen{
        margin-left: -10em;
    }

    #png2{
        margin-left: 1em;
    }

    #cen2{
        margin-left: 0em;
    }

    .section1{
        text-align: center;
        padding-left: 0em;
        margin: 0em;
        font-size: 0.9em;
        width: 23em;
    }
    .section2 {
        padding-left: 2em;
        padding-top: em;
        margin: 0 0 0 0em;
        font-size: 0.9em;
        width: 23em;
    }

    footer{
        margin-top: -20em;
        width: 28em;
    }
    p#call{
        margin-top: 20em;
        margin-left: -1em;
    }

    #ft{
        margin-left:1em;
    }
    p{
        margin-top: 1em;
        padding-top: 2em;
    }
    .fa-solid fa-phone{
        padding-top: 2em;
    }
    
}

@media screen and (max-width: 1080px) {
    .side1, .side2{
        display:none;
    }
    
    .logo{
        display: none;
    }

    .Heading{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0 0 0 0;
    }
    h1{
        font-size: 3em;
        color: white;
    }

    hr{
        width: 28em;
    }
    .overlap{
        height: 10em;
        padding-left:5em;
        margin-top: -2em;
        margin-left: -1em;
    }

    .navbar{
        height: 22em;
        margin-bottom: -2em;
    }

    #home{
    margin-left: 4em;
    margin-bottom: 3em;
    }

    table{
        margin-left: -2em;
    }

    #See{
        text-align: center;
    }
}

